.centered.container
  .row.content-box

    %h1 User Info

    %form{method: "get", action: "/auth/developer/callback", novalidate: "noValidate"}

      %label{for: "name"} Name:
      %input{type: "text", id: "name", name: "name"}
      %label{for: "email"} Email:
      %input{type: "text", id: "email", name: "email"}
      %button{type: "submit"} Sign In
