= form_tag('/auth/developer/login', method: 'post', data: {turbo: false}) do
  = button_tag 'Login with Developer'

= form_tag('/auth/github', method: 'post', data: {turbo: false}) do
  = button_tag 'Login with Github'
