#feature-edit-ui.hidden

  %div
    %button#button-add-label.btn.btn-secondary{ type: "button", 'data-action': "click->feature#show_add_label" } Add label
    %button#button-add-desc.btn.btn-secondary{ type: "button", 'data-action': "click->feature#show_add_desc" } Add Description

  #feature-label.form-floating.edit-ui.hidden
    %input.form-control{"data-action": "input->feature#updateLabel"}
    %label{ for: "feature-label"} Label

  #feature-desc.hidden
    %input#feature-desc-input.edit-ui

  / layout properties

  #point-size-ui.edit-ui.edit-point
    %label{ for: "point-size"} Size:
    %input.slider#point-size{ type: "range", min: "1", max: "50", value: "1", 'data-action': "input->feature#updatePointSize  change->feature#saveFeature"}
    %span#point-size-val

  #line-width-ui.edit-ui.edit-line.edit-polygon
    %label{ for: "line-width"} Width:
    %input.slider#line-width{ type: "range", min: "1", max: "50", value: "1", 'data-action': "input->feature#updateLineWidth change->feature#saveFeature"}
    %span#line-width-val
