%p#feature-edit-raw.hidden
  %textarea{name: "properties", rows: "6", cols: "50", "data-feature-target": "properties" }
  %span.error
  %a{href: 'https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md', target: '_blank'} Style Help
  %a{href: 'https://www.markdownguide.org/basic-syntax/', target: '_blank'} Markdown Help
  %button.feature-update{ 'data-action': "click->feature-edit#update_feature_raw"} Update
