#feature-edit-raw.hidden

  #feature-details-meta

  %textarea.form-control{name: "properties", rows: "6", cols: "50", "data-feature-target": "properties" }
  %span.error

  %button.btn.btn-primary.feature-update{ 'data-action': "click->map--feature-edit#update_feature_raw"} Update

  %a{href: 'https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md', target: '_blank'} Style Help
  %a{href: 'https://www.markdownguide.org/basic-syntax/', target: '_blank'} Markdown Help
