= turbo_stream_from "admin_maps_list"

#maps.flex-container
  - @maps.each do |map|
    = render map, rw: true, last_change: true, avatar: true, delete: true

- if @maps.empty?
  .container.pt-4.mt-4.mb-4.empty-map-list.background-bright
    %p.text-center
      In this gallery, all maps of this instance will be shown.
      %br
      You can browse public maps of all users via the 'Explore' link, or
      you can start with your first map by clicking on the "Create Map" button above.
