#edit-buttons.hidden.maplibregl-ctrl-group.maplibregl-ctrl.edit-button-group
  %button.edit-button.maplibregl-ctrl-btn#edit-button-edit{title: "Edit", 'data-action': "click->feature#toggle_edit_feature", 'data-ui': 'true'}
    %i.bi.bi-pencil-square
  %button.edit-button.hidden#edit-button-raw{title: "Edit Raw", 'data-action': "click->feature#toggle_edit_feature", 'data-raw': 'true'}
    %i.bi.bi-filetype-raw
  %button.edit-button#edit-button-trash{title: "Delete", data: { action: "click->feature#delete_feature" } }
    %i.bi.bi-trash
