#feature-popup.feature-popup.ol-popup{'data-controller': "map"}
  %a.ol-popup-closer#feature-popup-closer{href: "#"}
  %h4#feature-popup-title
    %i No title

  %p#feature-popup-desc
    %i No description

  %i#feature-popup-size
