#layers-modal.map-modal{'data-controller': "maplibre"}
  %h2 Layers

  #default-layer
    %h4.layer-name Default Layer
    %input#fileInput{ type: "file" }
    %button{ data: { action: "click->maplibre#upload" } }
      Import
    %ul.layer-elements



