#share-modal.map-modal{'data-controller': "map"}
  %h2 Share Map

  = link_to 'Viewer link', map_path(id: @map.public_id)

  = link_to 'Edit link', map_path(@map)

  = link_to 'Download .geojson', features_map_path(@map)

