- content_for :title, "Mapforge: Explore maps"

= turbo_stream_from "public_maps_list"

#maps.flex-container
  - @maps.each do |map|
    = render map, rw: false, last_change: false, avatar: false, delete: false

