- content_for :title, "Mapforge: Search maps"
.flex-container.flex-no-wrap
  = render 'shared/menu'
  %h1#mapforge-logo.mapforge-font.white-shadow
    Mapforge Maps
  %span#map-title

#maps.flex-container
  - @maps.each do |map|
    .flex-item= render map

%hr

= link_to 'Contact', 'tom@digitalflow.de'

= link_to 'Github', 'https://github.com/digitaltom/mapforge'
