- content_for :headers do
  %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css", type: "text/css"}

= javascript_import_module_tag "map/map"
= javascript_import_module_tag "map/buttons"

#map.map

%button#draw Draw
%button#modify Modify
%button#undo Undo
