- content_for :title, "Mapforge: My maps"

#maps.flex-container
  - @maps.each do |map|
    .flex-item{id: dom_id(map)}= render map, rw: true, last_change: false, avatar: false, delete: true, auth: true
