- content_for :title, "Mapforge: My maps"

#maps.flex-container
  - @maps.each do |map|
    = render map, rw: true, last_change: false, avatar: false, delete: true

- if @maps.empty?
  .container.pt-4.mt-4.mb-4.empty-map-list.background-bright
    %p.text-center
      In this gallery, your maps will be shown.
      %br
      You can browse maps of other users via the 'Explore' link, or
      you can start with your first map by clicking on the "Create Map" button above.


