- content_for :head do
  %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/ol@v8.1.0/ol.css", type: "text/css"}

#map.map

%button#draw Draw
%button#point Point
%button#line Line
%button#modify Modify
%button#undo Undo
%button#locate Locate
