#edit-feature
  %p#feature-edit-ui.hidden
    %span#pell-editor
    %button.feature-update{ 'data-action': "click->feature#update_feature_ui"}
      Update Description

    %br
    %label{ for: "point-size"} Size:
    %input.slider#point-size{ type: "range", min: "1", max: "50", value: "1", 'data-action': "change->feature#updatePointSize"}

  %p#feature-edit-raw.hidden
    %textarea{name: "properties", rows: "6", cols: "50", "data-feature-target": "properties" }
    %span.error test
    %a{href: 'https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md', target: '_blank'} Style Help
    %a{href: 'https://www.markdownguide.org/basic-syntax/', target: '_blank'} Markdown Help
    %button.feature-update{ 'data-action': "click->feature#update_feature_raw"} Update
