#edit-modal.map-modal{'data-controller': "maplibre"}
  .edit-feature
    %h4.feature-details-title
    %p.feature-details-desc
    %p.feature-details-atts
    %p.feature-details-atts-edit
      %textarea{name: "properties", rows: "6", cols: "50", "data-feature-target": "properties" }
      %br
      %span.error test
    %a{href: 'https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md', target: '_blank'} Help
    %button.feature-update{ 'data-action': "click->maplibre#update_feature"} Update

