#feature-details-modal.map-modal.modal-pull-down.fade{ 'data-controller': "map--feature-modal map--feature-edit" }
  %a.modal-pull-button.link{ 'data-action': "click->map--feature-modal#toggleModalSize"}

  #edit-buttons.hidden.maplibregl-ctrl-group.maplibregl-ctrl.edit-button-group
    %button.edit-button.maplibregl-ctrl-btn#edit-button-edit{title: "Edit", 'data-action': "click->map--feature-modal#toggle_edit_feature", 'data-ui': 'true'}
      %i.bi.bi-pencil-square
    %button.edit-button.hidden#edit-button-raw{title: "Edit Raw", 'data-action': "click->map--feature-modal#toggle_edit_feature", 'data-raw': 'true'}
      %i.bi.bi-filetype-raw
    %button.edit-button#edit-button-trash{title: "Delete", data: { action: "click->map--feature-edit#delete_feature" } }
      %i.bi.bi-trash

  %h4#feature-details-header.flex-container
    #feature-symbol
    #feature-title

  = render 'maps/modals/feature/edit_ui'
  = render 'maps/modals/feature/edit_raw'

  %p#feature-details-body
