#feature-details-modal.map-modal.modal-pull-down.fade{'data-controller': "feature", 'data-action': "click->feature#toggleModalSize" }
  %a.modal-pull-button.link{ 'data-action': "click->feature#toggleModalSize"}
  = render 'maps/modals/feature/edit_buttons'
  %h4#feature-details-header
  #feature-details-meta

  = render 'maps/modals/feature/edit_ui'
  = render 'maps/modals/feature/edit_raw'

  %p#feature-details-body
