#feature-details-modal.map-modal.fade{'data-controller': "feature"}
  = render 'edit_buttons'
  #feature-details-meta
  %h4#feature-details-header
  = render 'maps/modals/edit_feature'
  %p#feature-details-body
