#feature-details-modal.map-modal.modal-pull-down.fade{ 'data-controller': "feature" }
  %a.modal-pull-button.link{ 'data-action': "click->feature#toggleModalSize"}

  = render 'maps/modals/feature/header'

  = render 'maps/modals/feature/edit_ui'
  = render 'maps/modals/feature/edit_raw'

  %p#feature-details-body
