#layers-modal.map-modal.fade{'data-controller': "layers"}
  %h2 Layers

  #default-layer
    %h4.layer-name Default Layer
    %input#fileInput{ type: "file" }
    %button{ data: { action: "click->layers#upload" } }
      Import gpx/kml
    %ul.layer-elements



