#layers-modal.map-modal.fade{'data-controller': "map--layers"}
  %button.close-button{ data: { action: "click->map--layers#close" } } &times;
  .map-modal-header
    %h3 Layers

  .map-modal-content

    #layer-upload.row.align-items-center
      .col
        %label{ for: "formFile" } Import gpx/kml (max. 800Kb)
        %br
        %small EPSG:4326 (WGS 84) format
      .col
        %input.form-control#fileInput{ type: "file", data: { action: "input->map--layers#upload" } }

    #default-layer
      %h4.layer-name Default Layer
      %ul.layer-elements


