#layers-modal.map-modal.fade{'data-controller': "layers"}
  %button.close-button{ data: { action: "click->layers#close" } } &times;
  .map-modal-header
    %h3 Layers

  .map-modal-content
    %input#fileInput{ type: "file" }
    %button.btn.btn-secondary{ data: { action: "click->layers#upload" } }
      Import gpx/kml

    #default-layer
      %h4.layer-name Default Layer
      %ul.layer-elements


