#share-modal.map-modal
  %h2 Share Map

  %ul
    %li= link_to 'Viewer link', map_path(id: @map.public_id)
    %li= link_to 'Edit link', map_path(@map)
    %li= link_to 'Download geojson', map_features_path(@map.public_id)
    %li= link_to 'Download map export', map_export_path(id: @map.public_id)

