%footer#footer.footer.light-background
  .footer-top
    .container
      .row.gy-4
        - # empty block on the left on lg screen
        - # screen < sm, contact moves below links
        .col-lg-5.col-0.footer-about.d-none.d-lg-block

        .col-lg-2.col-sm-4.col-6.footer-links.mb-sm-2
          %h3.mapforge-font.white-shadow Docs
          %ul
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/README.md" }
                %i.bi.bi-file-text.me-1>
                Readme
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/CHANGELOG.md" }
                %i.bi.bi-file-text.me-1>
                Changelog
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md" }
                %i.bi.bi-file-text.me-1>
                Style spec
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/engines/ulogger/README.md" }
                %i.bi.bi-file-text.me-1>
                µlogger API
        .col-lg-2.col-sm-4.col-6.footer-links
          %h3.mapforge-font.white-shadow Project
          %ul
            %li
              %a{ href: "https://github.com/digitaltom/mapforge" }
                %i.bi.bi-github.me-1>
                Github
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/issues" }
                %i.bi.bi-github.me-1>
                Report issue
        .col-lg-3.col-sm-4.footer-contact.text-center.text-md-start.mb-2
          %h3.mapforge-font.white-shadow Contact
          %p
            %strong
              %i.bi.bi-envelope.me-1
            %span mapforge@digitalflow.de

