%footer#footer.footer.light-background
  .footer-top
    .container
      .row.gy-4
        .col-lg-5.col-md-12.footer-about

        .col-lg-2.col-6.footer-links
          %h4 Docs
          %ul
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/README.md" } Readme
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/CHANGELOG.md" } Changelog
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/docs/geojson.md" } GeoJSON spec
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/blob/main/engines/ulogger/README.md" } µlogger API
        .col-lg-2.col-6.footer-links
          %h4 Project
          %ul
            %li
              %a{ href: "https://github.com/digitaltom/mapforge" } Github
            %li
              %a{ href: "https://github.com/digitaltom/mapforge/issues" } Report issue
        .col-lg-3.col-md-12.footer-contact.text-center.text-md-start
          %h4 Contact
          %p
            %strong Email:
            %span mapforge@digitalflow.de

