- content_for :title, "Mapforge: Create and share individual maps"

/ https://swiperjs.com/
= javascript_include_tag "swiper-bundle.min.js"
= javascript_import_module_tag "frontpage"

%main#frontpage.main

  / Hero Section
  #hero.hero.section.dark-background
    = image_tag "frontpage/background_map3.jpg", alt: "", 'data-aos': "zoom-out", 'data-aos-once': "true"
    .container
      .row
        .col-lg-5
          %h1.mapforge-font{ 'data-aos': "fade-up" } Create your own maps
          %blockquote{ 'data-aos': "fade-up" }
            %p Mapforge lets you create and share individual maps. You can build your own unique maps by layering your data onto various base maps. Collaborate in real-time just like editing a document together online and share your maps.
            %p Mapforge.org is free to use and available as open-source for self-hosting, giving you full control over your data.


  %section#features.why-us.section.hidden
    .row.g-0
      .col-lg-5.img-bg{"data-aos" => "fade-up", "data-aos-delay" => "100"}
        = image_tag "frontpage/feature1.png", alt: ""
      .col-lg-7.slides.position-relative{"data-aos" => "fade-up", "data-aos-delay" => "200"}
        .swiper.init-swiper
          .swiper-wrapper
            .swiper-slide
              .item
                %h3.mb-3 Map features
                %h4.mb-3 Unlock the full potential of your maps with our powerful and flexible mapping solution:
                %ul
                  %li Customizable Base Maps: Tailor your maps to suit any use case - from street navigation to outdoor exploration or satellite imagery. Our configurable base maps ensure you always have the right backdrop for your data.
                  %li Seamless Import/Export: Easily bring your data into our platform and export it when needed. Whether you're working with GIS files, spreadsheets, or other data sources, our import/export capabilities make integration a breeze.
                  %li Advanced Styling: Take control of your map's appearance with our extended Style specification. Customize colors, symbols, labels, and more to create visually stunning and informative maps.
                  %li Layered Approach: Organize your map elements with our intuitive Layer Element list. Easily manage transparency, opacity, and stacking order to create complex, layered maps.
                  %li Visual Enhancement: Add context and depth to your maps with our Image Upload feature. Overlay photographs, diagrams, or other visual elements to enhance your data visualization.
                  %li 3D Terrain Support: Bring your maps to life with realistic 3D terrain. Perfect for geographical, topographical, or urban planning applications.
            .swiper-slide
              .item
                %h3.mb-3 Unde perspiciatis ut repellat dolorem
                %h4.mb-3 Amet cumque nam sed voluptas doloribus iusto. Dolorem eos aliquam quis.
                %p Dolorem quia fuga consectetur voluptatem. Earum consequatur nulla maxime necessitatibus cum accusamus. Voluptatem dolorem ut numquam dolorum delectus autem veritatis facilis. Et ea ut repellat ea. Facere est dolores fugiat dolor.
            .swiper-slide
              .item
                %h3.mb-3 Aliquid non alias minus
                %h4.mb-3 Necessitatibus voluptatibus explicabo dolores a vitae voluptatum.
                %p Neque voluptates aut. Soluta aut perspiciatis porro deserunt. Voluptate ut itaque velit. Aut consectetur voluptatem aspernatur sequi sit laborum. Voluptas enim dolorum fugiat aut.
            .swiper-slide
              .item
                %h3.mb-3 Necessitatibus suscipit non voluptatem quibusdam
                %h4.mb-3 Tempora quos est ut quia adipisci ut voluptas. Deleniti laborum soluta nihil est. Eum similique neque autem ut.
                %p Ut rerum et autem vel. Et rerum molestiae aut sit vel incidunt sit at voluptatem. Saepe dolorem et sed voluptate impedit. Ad et qui sint at qui animi animi rerum.
          .swiper-pagination
        .swiper-button-prev
        .swiper-button-next
