- content_for :title, "Mapforge: Create and share individual maps"
#frontpage-map.map

.container-fluid
  .row
    - # h1 tag is required by search engines on index page
    %h1.col.text-center.frontpage-title.mapforge-font
      mapforge
  .row
    .col.frontpage-subtitle.fade-in-slow
      %span
        map your
        %span.highlight#frontpage-category-name
  .row
    .col.frontpage-buttons.center
      %p
        %a.btn.btn-primary.btn-lg{href: maps_path, 'aria-label': "Explore maps"} explore
        = link_to "create", create_map_path, data: { turbo_method: :post }, class: 'btn btn-primary btn-lg', 'aria-label': "Create a new map"
