- content_for :title, "Mapforge: Create and share individual maps"

%main#frontpage.main

  / Hero Section
  #hero.hero.section.dark-background
    = image_tag "frontpage/background_map1.png", alt: ""
    .container
      .row
        .col-xl-5
          %h1.mapforge-font Create your own maps
          %blockquote
            %p Mapforge lets you create and share individual maps. You can build your own unique maps by layering your data onto various base maps. Collaborate in real-time just like editing a document together online and share your maps.
            %p Mapforge.org is free to use and available as open-source for self-hosting, giving you full control over your data.
