#frontpage-map.map

/ template for overlay banners in the frontpage map
.banner-overlay{'data-controller': "feature"}

.container-fluid
  .row
    .col.text-center.frontpage-title.mapforge-font
      %p mapforge.org
  .row
    .col.frontpage-subtitle.fade-in
      %p
        map your
        %span.highlight#frontpage-category-name
