/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 *= require_self
 */

/* General styles used throughout the whole app */


/* Palette: https://coolors.co/e5e5d7-dae2c8-cedfb9-dac591-e6aa68-ca3c25-1d1a05-49622d-354a51-4d7a9c */
:root {
  --color-light-sand: #E5E5D7;
  --color-light-beige: #DAE2C8;
  --color-light-teagreen: #CEDFB9;
  --color-dark-moss-green: #354620;
  --color-mid-ecru: #DAC591;
  --color-mid-fawn: #E6AA68;
  --color-mid-chili: #CA3C25;
  --color-dark-smoky-black: #1D1A05;
  --color-dark-charcoal: #354A51;
  --color-mid-steel-blue: #4D7A9C;
  --text-color: var(--color-dark-smoky-black);
  --hover-color: var(--color-dark-charcoal);
  --accent-color: var(--color-mid-chili);
  --bs-btn-border-radius: 0px;
  --bs-border-radius: 0px;
}

html,
body {
  overscroll-behavior: none; /* disable pull-to-refresh on mobile */
  overflow-x: hidden;
  width: 100%;
  font-family: system-ui, sans-serif;
  font-weight: 300;
  color: var(--text-color);
}

/* View transition */
::view-transition-group(root) {
  animation-duration: 0.5s;
}

a, .link {
  color: var(--text-color);
  cursor: pointer;
}

a:hover, .link:hover {
  color: var(--hover-color);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Vertically centers the items */
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.hidden {
  opacity: 0;
  display: none !important;
}

/* re-using bootstrap transition class */
.fade {
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.fade:not(.show) {
  visibility: hidden;
  opacity: 0;
}

.fade.show {
  visibility: visible;
  opacity: 1;
}

.small {
  size: 85%;
}
