/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#flash-container {
  position: fixed;
  z-index: 99;
  bottom: -1em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    opacity 0.7s linear,
    bottom 0.7s ease-in-out;
}

.flash-message {
  padding: 0.3em;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  background-color: #fff;
}

.flash-message.info {
  background-color: #fff;
}

.flash-message.success {
  background-color: #dff0d8;
}

.flash-message.error {
  background-color: #ffb3b3;
}

#feature-details {
  padding: 0.3em;
  position: fixed;
  z-index: 99;
  top: 5em;
  background-color: #fff;
  left: 0.5em;
  width: 20em;
  opacity: 0;
  transition:
    opacity 0.7s linear,
    right 0.7s ease-in-out;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  overflow: hidden;
}

.ol-left {
  left: 0.6em !important;
}

.ol-control button {
  width: unset;
  min-width: 1.375em;
  font-size: 1.6em;
}

.ol-control button:hover,
.ol-control.active button {
  color: #000;
  font-weight: bold;
  background-color: #c0c0c0;
}

.ol-control.button-locate button:hover,
.ol-control.button-locate.active button {
  background-color: #ffc0c0;
}

.ol-control.ol-toggle button:disabled {
  background-color: #ccc;
}

.ol-zoom {
  top: 50%;
  right: 0.5em;
  transform: translateY(-50%);
  left: auto;
}




