/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

.ol-control button {
    width: unset;
    min-width: 1.375em;
    font-size: 1.6em;
}

.ol-left {
    left: 0.6em !important;
}

.ol-button > button:hover, .ol-button.active > button {
    color: #000;
    font-weight: bold;
    background-color: #c0c0c0;
}

/* Active buttons */
.ol-control.ol-bar .ol-toggle.ol-active > button,
.ol-control.ol-bar .ol-toggle.ol-active button:hover {
    color: #000;
    font-weight: bold;
    background-color: #c0c0c0;
}
.ol-control.ol-toggle button:disabled {
  background-color: #ccc;
}
