.burger-menu-btn {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 33px;
  height: 33px;
  cursor: pointer;
  z-index: 20;
}

.burger-menu-btn-background {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 33px;
  height: 33px;
  z-index: 10;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 3px;
}

.burger-menu-btn > span {
  left: 6px;
  width: 20px;
}

.burger-menu-btn > span,
.burger-menu-btn > span::before,
.burger-menu-btn > span::after {
  display: block;
  position: absolute;
  height: 2px;
  top: 16px;
  width: 21px;
  background-color: #333;
  box-shadow: 0 0 1px 1px #eee;
  transition-duration: .25s;
}

.burger-menu-btn > span::before {
  content: '';
  top: -8px;
}

.burger-menu-btn > span::after {
  content: '';
  top: 8px;
}

#burger-menu-toggle {
  opacity: 0;
}

/* Toggled button */

#burger-menu-toggle:checked + .burger-menu-btn > span {
  transform: rotate(45deg);
}

#burger-menu-toggle:checked + .burger-menu-btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#burger-menu-toggle:checked + .burger-menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#burger-menu-toggle:checked + .burger-menu-btn > span,
#burger-menu-toggle:checked + .burger-menu-btn > span::before,
#burger-menu-toggle:checked + .burger-menu-btn > span::after {
  box-shadow: 0 0 0 1px #444;
}

.burger-menu-btn:hover ~.burger-menu-btn-background {
  background-color: rgb(0 0 0/15%) !important;
  transition:
    background-color 0.2s ease-in-out
}


/* Expanded Menu */

.burger-menu-box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  transition-duration: .25s;
}

#burger-menu-toggle:checked ~ .burger-menu-box {
  left: 0 !important;
  z-index: 10;
}

.burger-menu-item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.burger-menu-item:hover {
  background-color: #CFD8DC;
}
