#feature-details-modal {
  bottom: 0;
  min-height: 125px;
  max-width: 800px;
  padding: 0.7em;
  overflow: hidden;
}

#feature-details-icon {
  height: 2em;
  margin: 0.3em;
  margin-right: 0.6em;
}

#feature-details-meta {
  font-size: 80%;
  color: #999;
  position: absolute;
  right: 1em;
  top: 4em;
}

#feature-details-body, #feature-edit-ui, #feature-edit-raw {
  overflow-y: hidden;
}

.modal-pull-up #feature-details-body, .modal-pull-up #feature-edit-ui, .modal-pull-up #feature-edit-raw {
  overflow-y: scroll;
  max-height: calc(100vh - 8em);
}

#feature-details-body img {
    max-width: 100%;
    height: auto;
}

.edit-button-group {
  box-shadow: 0 0 6px 2px rgba(0 0 0 / 38%) !important;
}

#edit-buttons {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  opacity: 0.85;
}

.edit-button {
  cursor: pointer;
  display: inline-block !important;
  opacity: 0.85;
  width: 30px !important;
  height: 30px !important;
}

#feature-edit-raw textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#feature-edit-raw .error {
  color: red;
}

.editor-statusbar {
  display: none;
}

.edit-ui {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
  max-width: 25em;
}

#feature-desc {
  padding-top: 0.5em;
}

.edit-ui .slider {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 8em;
}

.edit-ui label, .edit-ui span {
  flex-grow: 0;
  flex-shrink: 0;
}
