#frontpage-map {
  opacity: 0.5;
  transition: opacity 1.5s ease-out;
}

.frontpage-title {
  font-size: calc(min(12vw, 12em)); /* max font size is 12em; vw is % of viewport width */
  position: absolute; top: calc(30vh - calc(min(12vw, 12em))); /* 30% of height - font size */
  padding-right: unset;
  padding-left: unset;
}


@media only screen and (orientation: portrait) {
  .frontpage-title {
    font-size: calc(min(19vw, 12em)); /* max font size is 12em; vw is % of viewport width */
    position: absolute; top: calc(30vh - calc(min(19vw, 12em))); /* 30% of height - font size */
  }

  .frontpage-subtitle {
    font-size: calc(max(min(5vw, 6em), 0.75em));
    font-weight: 500;
  }
}

.fade-in {
  transition: opacity 1s linear;
  opacity: 0;
}

.fade-in-slow {
  transition: opacity 2s linear;
  opacity: 0;
}

/* https://dev.to/shubhamjain/how-to-create-marker-highlight-effect-in-css-be4
   source '//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43' */
.highlight {
    background: url('/images/pen-brushes.svg');
    margin: -2px -6px;
    padding:  2px  6px;
}


.light-background {
  --background-color: var(--color-light-sand);
  --surface-color: var(--color-dark-moss-green);
}

.dark-background {
  --background-color: var(--color-dark-moss-green);
  --default-color: var(--color-light-sand);
  --heading-color: var(--color-light-sand);
  --accent-color: var(--color-light-sand);
  --contrast-color: var(--color-dark-moss-green);
  --surface-color: #254160;
}


/* --------------------------------------------------------------
# Global Sections
-------------------------------------------------------------- */
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (width <= 992px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/* --------------------------------------------------------------
# Global Section Titles
-------------------------------------------------------------- */
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/* --------------------------------------------------------------
# Hero Section
-------------------------------------------------------------- */
.hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 120px 0 60px;
  display: flex;
  align-items: center;
}

.hero::before {
  position: absolute;
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 20%);
  inset: 0;
  z-index: 2;
}

@media (width >= 992px) {
  .hero::after {
    position: absolute;
    content: "";
    width: 44%;
    background-color: var(--background-color);
    opacity: 0.85;
    top: 0;
    bottom: 0;
    z-index: 2;
  }

  .hero::before {
    background: color-mix(in srgb, var(--background-color), transparent 75%);
  }
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .container,
.hero .container-fluid {
  z-index: 3;
  position: relative;
}

.hero h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.hero blockquote {
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  padding-left: 20px;
  border-left: 2px solid var(--accent-color);
  margin: 40px 0;
  font-weight: 400;
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

@media (width <= 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

/* --------------------------------------------------------------
# Why Us Section
-------------------------------------------------------------- */
.why-us .img-bg {
  min-height: 500px;
  position: relative;
}

.why-us .img-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.why-us .slides {
  background-color: color-mix(in srgb, var(--default-color), transparent 97%);
}

.why-us h3 {
  font-size: 24px;
  font-weight: 700;
}

.why-us h4 {
  font-size: 18px;
  font-weight: 300;
  color: color-mix(in srgb, var(--default-color), transparent 30%);
}

.why-us .swiper {
  margin: 140px 140px 120px;
  overflow: hidden;
}

.why-us .swiper-wrapper {
  height: auto;
}

.why-us .swiper-button-prev::after,
.why-us .swiper-button-next::after {
  font-size: 24px;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.why-us .swiper-button-prev {
  left: 80px;
}

.why-us .swiper-button-next {
  right: 80px;
}

.why-us .swiper-pagination {
  margin-top: 30px;
  position: relative;
}

.why-us .swiper-pagination .swiper-pagination-bullet {
  background-color: color-mix(in srgb, var(--default-color), transparent 50%);
}

.why-us .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

@media (width <= 992px) {
  .why-us .swiper {
    margin: 60px 60px 40px;
  }

  .why-us .swiper-button-prev,
  .why-us .swiper-button-next {
    display: none;
  }

  #features .img-bg, #features .img-bg img {
    height: 10em;
    min-height: 0;
  }
}

@media (width <= 575px) {
  .why-us .swiper {
    margin: 40px 40px 20px;
  }
}
