.mapforge-font {
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
}

.frontpage-title {
  font-size: calc(min(max(12vw, 24px), 128px)); /* % of viewport width */
  width: 100%;
  position: absolute; top: calc(30vh - min(max(12vw, 16px), 128px));
}

.frontpage-subtitle {
  text-align: center;
  font-size: calc(min(max(3vw, 16px), 32px)); /* % of viewport width */
  position: absolute; top: 45vh;
  opacity: 0;
}

.frontpage-subtitle-small {
  font-size: 1.5vw; /* % of viewport width */
  max-width: 800px;
}

.frontpage-description {
  font-size: 3vw;
  width: 100%;
  max-width: 1200px;
}

.frontpage-description-small {
  font-size: 0.8vw;
  width: 100%;
  max-width: 800px;
}

.frontpage-create-map {
  font-size: 0.3vw;
}

.center {
  text-align: center;
}

.small {
  font-size: 60%;
}

/* using keyframes, so the element fades in automatically when added */
@keyframes fade-in {
 from {
    opacity: 0;
 }

 to {
    opacity: 1;
 }
}

.fade-in {
  transition: opacity 2s linear;
  opacity: 0;
}

/* https://dev.to/shubhamjain/how-to-create-marker-highlight-effect-in-css-be4 */
.highlight {
    background: url('//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43');
    margin: -2px -6px;
    padding:  2px  6px;
}
