#frontpage-map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Line Awesome Free";
}

.frontpage-title {
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12vw; /* font-size: 400%; */
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.center {
  text-align: center;
}

.small {
  font-size: 60%;
}
