/* this avoids mobile to scroll vertically out the location bar */
html:has(.map), body:has(.map) {
  overflow: hidden;
}

#map-header {
  display: none;
}

#map-head {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  font-size: 1.2em;
}

#map-nav-toggle {
  font-size: 1.3em;
}

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  z-index: -1;
}

.white-shadow {
  text-shadow: -1px 0 1px #eee, 0 1px 1px #eee, 1px 0 1px #eee, 0 1px 1px #eee;
  color: #333;
}

.dark-shadow {
  text-shadow: -1px -1px 1px #666, 1px -1px 1px #666, 1px 1px 1px #666, -1px 1px 1px #666;
}

.layer-feature-item a {
  color: black;
}

.layer-feature-item a:hover {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); /* stylelint-disable-line */
}

.layer-feature-item i {
  margin-left: 0.5em;
}

.cursor-crosshair {
  cursor: crosshair;
}
