#map-logo-title {
  position: absolute;
}

#mapforge-logo {
  font-weight: 600;
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-top: 0.1em;
  line-height: 1.8em;
  z-index: 100;
}

#map-title {
  color: white;
  font-weight: 400;
  float: left;
  margin-top: 0.9em;
  overflow: hidden;
  height: 3em;
  margin-left: 1em;
}

.map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  z-index: -1;
}

.white-shadow {
  text-shadow: -1px 0 1px #eee, 0 1px 1px #eee, 1px 0 1px #eee, 0 1px 1px #eee;
  color: #333;
}

.dark-shadow {
  text-shadow: -1px -1px 1px #666, 1px -1px 1px #666, 1px 1px 1px #666, -1px 1px 1px #666;
}

.layer-feature-item a {
  color: black;
}

.layer-feature-item a:hover {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1)); /* stylelint-disable-line */
}

.layer-feature-item i {
  margin-left: 0.5em;
}
