.maplibregl-ctrl {
  opacity: 0.85;
}

.maplibregl-ctrl-map {
  color: #404040;
}

.mapbox-gl-draw_ctrl-draw-btn { /* stylelint-disable-line */
  opacity: 0.75;
}

.maplibregl-ctrl button:hover, .maplibregl-ctrl button.active {
  background-color: rgb(0 0 0/15%) !important;
  transition:
    background-color 0.2s ease-in-out
}

/* small search form on mobile */
@media (0 <= width <= 380px) {
  .search-form {
    display: none !important;
  }

  .maplibregl-ctrl-top-right {
    top: 2.4em;
  }
}

@media (380px < width <= 700px) {
  .search-form {
    width: unset !important;
  }

  .search-form input {
    width: 125px !important;
  }
}

.maplibregl-ctrl-top-left {
  top: 3.2em !important;
}
